body{
    margin: 0%;
    padding: 0%;

}
.navbar{
    background-color: black;
    color: cornflowerblue;
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo img{
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.navbar ul{
    list-style: none;
    padding: 0;
    display: flex;
}
.navbar li{
    margin: 0 10px;
}
.navbar a{
    text-decoration: none;
    color: blue;
}
.content{
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}