.Header{
    background-color: black;
}
h1{
    color: white;
    text-align:center
}
body{
    background-color: rgb(177, 177, 177)
}
.content{
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
}