body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: slategray;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.login-container{
    background-color: darkslategray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    text-align: center; 
}